*.class
bin/
**/Main.java
**/custom.logpath_IS_UNDEFINED/
release.properties
# Package Files
*.jar
*.war
*.ear

# Intellij Files
*.iml
.idea

# Eclipse Files
.classpath
.project
.settings

# Maven output
target
logs

# Other crap
.DS_Store
**/pom.xml.releaseBackup

